<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <title>Some site observer</title>
</head>
<body>
<div id="chartContainer" style="height: 300px; width: 100%;"></div>

<input id="dateRange" type="text" name="daterange"/>

<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap/3/css/bootstrap.css"/>

<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css"/>
<script type="text/javascript" src="js/src/chart.js"></script>
<script type="text/javascript" src="js/src/daterange.js"></script>
</body>
</html>